name: Python CI

on:
  push:
    branches: [ main, victoria-dev, dana-dev, guadalupe-dev, sebastian-dev ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install flake8 pytest

      - name: Lint code with flake8
        run: |
          flake8 .
        continue-on-error: true  # Para que no falle el pipeline solo por estilo

      - name: Run tests with pytest
        run: |
          pytest
